html, body {
    height: 100%;
    width: 100%;
}
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 75%;
    margin: 0 auto;
    max-width: 500px;
}
.login-container > img {
    max-width: 55%;
    align-self: center;
}

.login-container .btn {
    background-color: #673AB7;
    color: #fafafa;
}